# Server Configuration
PORT=5000
NODE_ENV=development

# Database Connection (PostgreSQL with Multi-tenant schema / database support)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/omnipos_dev?schema=public"
